body {
  background: linear-gradient(to right, #f16b11, #f5a819);
}

a {
  color: #f16b11;
}

input {
  background: #f16b11;
}
input:focus {
  color: #f16b11;
}
input:focus::-webkit-input-placeholder {
  color: #f16b11;
}
input:focus::-moz-placeholder {
  color: #f16b11;
}
input:focus::-ms-input-placeholder {
  color: #f16b11;
}
input:focus::placeholder {
  color: #f16b11;
}

tr:hover td {
  background: rgb(22, 103, 224);
}

footer a {
  color: #4914c3;
}
